<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="join-section" th:fragment="content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <span class="d-block co-blue fnsb ss-content mb-3">APDRC8 / ACCOUNT</span>
                    <h4 class="fnb mb-5">
                        Select the right<br class="ii-none">
                        registration path.
                    </h4>
                    <p class="pp-content mb-0">
                        Choose a participant type based on your current place<br class="ii-none">
                        of residence. You can enter your account details on the<br class="ii-none">
                        next screen.
                    </p>
                </div>
                <div class="col-lg-7">
                    <div class="join-participant">
                        <div class="text-center">
                            <img src="/public/img/member/type-01.png">
                            <div>
                                <h5 class="cm-title fnb mb-3">International Participant</h5>
                                <p class="cs-content mb-0">For participants based overseas</p>
                            </div>
                            <a class="btn fnsb" href="/join/international">INTERNATIONAL SIGN UP →</a>
                        </div>
                        <div class="text-center">
                            <img src="/public/img/member/type-02.png">
                            <div>
                                <h5 class="cm-title fnb mb-3">Domestic Participant</h5>
                                <p class="cs-content mb-0">For participants based in Korea</p>
                            </div>
                            <a class="btn fnsb" href="/join/domestic">DOMESTIC SIGN UP →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
